<!-- NavBar-->
<nav class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Ache</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menuItem"><a href="#about" ui-sref="root.about">Me?</a></li>
                <li class="menuItem"><a href="#education" ui-sref="root.education">Education</a></li>
                <li class="menuItem"><a href="#screen">Code</a></li>
                <li class="menuItem"><a href="#credits">Music</a></li>
                <li class="menuItem"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--View injection -->
<div ui-view="content" class="content" id="about" autoscroll="true">

</div>