<!-- Use it -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 pull-right wow fadeInRightBig">
                <img class="img-responsive " src="assets/img/me/me.jpg" alt="">
            </div>
            <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                <h3 class="section-heading">So you want to know a little bit about me?</h3>
                <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                <p class="lead">
                    In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
                    Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
                    uam non erat mirum sapientiae lorem cupido
                    patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInLeftBig">
                <img src="assets/img/me/morerock.jpg" alt="Rock" class="img-responsive">
            </div>
            <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                <h3 class="section-heading">Art - Science - Humanities</h3>
                <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh<br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
                <p class="lead">
                    In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
                    Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur
                </p>
            </div>
        </div>
    </div>
</div>